.search-box {
  border-radius: 3px;
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 4px 0px 4px 15px;
  transition: all 0.5s ease;
}

.search-box:active, .search-box:hover {
  border: 1px solid #aaa;
}

.search-btn {
  border: none;
  outline: none !important;
  color: #ddd;
  transition: all 0.5s ease;
}

.search-btn:focus, .search-btn:hover {
  color: #aaa;
  outline: none !important;
  box-shadow:none !important;
  -webkit-box-shadow:none !important; 
  border:none !important;
}
.search-btn:active {
  outline: none !important;
  border:none !important;
}

.search-bar {
  outline: none !important;
  border:none !important;
}

.search-bar:focus {
  outline: none !important;
  box-shadow:none !important;
  -webkit-box-shadow:none !important; 
  border:none !important;
}
.Demo__suggestion-icon {
  margin-right: 8px;
}

.Demo__suggestion-item {
  padding: 4px;
  text-align: left;
}
